#logo {
  float: right;
  text-align: center;
  max-width: 240px;
  font-size: 8pt;
  margin-left: 1em; }
  #logo #attr {
    margin: -0.5em; }

#subtitle {
  float: center;
  text-align: center; }

#content {
  color: #2e2e2e; }

.outline-text-2 {
  margin-left: 2em; }

.outline-text-3 {
  margin-left: 2em; }

.outline-text-4 {
  margin-left: 2em; }

.outline-text-5 {
  margin-left: 2em; }

.outline-text-6 {
  margin-left: 2em; }

h3 {
  margin-left: 1em;
  color: #000; }

a {
  text-decoration: none;
  color: #4a708b; }

a:hover {
  text-decoration: underline; }
