<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Org-babel-dev: {{ page.title }}</title>
    <link rel="shortcut icon" href="/babel-dev/data/org-babel.ico" type="image/x-icon"></link>
    <link rel="stylesheet" href="/babel-dev/data/style.css" type="text/css" media="screen" charset="utf-8"/>
    <link  rel="alternate" href="/babel-dev/atom.xml" title="ATOM" type="application/atom+xml" /> 
  </head>
  <body>
    <div id="menu">
      <div id="back">
        <a href="http://orgmode.org/worg/org-contrib/babel/"
           title="Back to Org-babel main page">Org-babel</a>
      </div>
      <div id="home">
        <a href="/babel-dev/"
           title="Back to the Babel-dev main page">Babel-dev</a>
      </div>
      <div id="feed">
        <a href="/babel-dev/atom.xml" type="application/atom+xml"
           title="subscribe to track babel development">RSS Feed</a>
      </div>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
